@font-face {
  font-family: "Ruberoid-c";
  src: url(/assets/fonts/Ruberoid-Bold.woff2) format("woff2"),
    url(/assets/fonts/Ruberoid-Bold.woff) format("woff"),
    url(/assets/fonts/Ruberoid-Bold.ttf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Ruberoid-c";
  src: url(/assets/fonts/Ruberoid-Regular.woff2) format("woff2"),
    url(/assets/fonts/Ruberoid-Regular.woff) format("woff"),
    url(/assets/fonts/Ruberoid-Regular.ttf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Ruberoid-c";
  src: url(/assets/fonts/Ruberoid-Light.woff2) format("woff2"),
    url(/assets/fonts/Ruberoid-Light.woff) format("woff"),
    url(/assets/fonts/Ruberoid-Light.ttf) format("opentype");
  font-weight: 300;
}

@import url(./assets/css/normalize.css);

.c-pbottom-100 {
  padding-bottom: 1000px;
  background-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Ruberoid-c", sans-serif;
  min-width: 320px;
  height: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

.l-wrapper {
  max-width: 1536px;
  padding: 0 149px;
  margin: 0 auto;
}
/* components start */
.c-clip-path {
  clip-path: polygon(0 1%, 100% 0%, 97% 100%, 0% 100%);
}

.c-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}
.c-gradient-text {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.c-bg-gradient {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
}

.l-section {
  position: relative;
}

.c-matrix {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 5px;
}
.c-matrix i {
  z-index: 1;
}
.c-matrix::before {
  content: "";
  position: absolute;
  background: #ffad00;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 77%, 77% 100%, 0 100%);
  top: -5px;
  right: -5px;
}
.c-matrix::after {
  content: "";
  position: absolute;
  background: #fafafa;
  width: 101%;
  height: 101%;
  clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 77%, 77% 100%, 0 100%);
  top: 0;
  right: 0;
}

.c-text-primary {
  color: #343434;
}

.bg-yellow {
  background-color: #ffd600;
  white-space: nowrap;
  position: relative;
}
.bg-yellow::after {
  content: "";
  position: absolute;
  right: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffd600;
}
.bg-yellow::before {
  content: "";
  position: absolute;
  left: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffd600;
}

.bg-white {
  background-color: #ffffff;
  white-space: nowrap;
  position: relative;
}
.bg-white::after {
  content: "";
  position: absolute;
  right: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffffff;
}
.bg-white::before {
  content: "";
  position: absolute;
  left: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffffff;
}

/* components end */

/* l-hero-section start */

.l-hero__section {
  height: 914px;
  background-image: url("./assets/img/back.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  padding-top: 85px;
  position: relative;
}

.l-hero__section::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./assets/img/line-yellow.svg);
  height: 169px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.l-hero__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.l-hero__right .c-logo {
  padding-left: 29px;
}

.l-hero__title {
  margin-bottom: 23px;
  will-change: transform;
}

.l-hero__title h1 {
  /* padding: 0 29px; */
  position: relative;
  padding: 0 29px;
  white-space: pre-line;
}
.l-hero__title h1 span {
  position: absolute;
  left: 0;
  padding: 0 29px;
  display: inline-block;
  white-space: nowrap;

  width: 104%;
}

.l-sun-bg {
  background-image: url(./assets/img/sun.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.l-hero__button a {
  display: block;
  padding: 22px 75px 22px 75px;
  background: #343434;
  border-radius: 60.5px;
  max-width: 380px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  text-align: center;
  text-transform: uppercase;
  margin-left: 29px;
  position: relative;
  overflow: hidden;
}
/* animate ripple */
.animate-ripple {
  webkit-animation: ripple 4s linear infinite;
  -moz-animation: ripple 4s linear infinite;
  -ms-animation: ripple 4s linear infinite;
  -o-animation: ripple 4s linear infinite;
  animation: ripple 4s linear infinite;
}
@keyframes ripple {
  20% {
    opacity: 0;
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.anim-btn {
  height: 200px;
  width: 290px;
  top: -20px;
  left: -140px;
  animation: ripple 4s linear infinite;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 20;
}

.l-hero__list {
  margin-top: 50px;
  margin-left: 29px;
}

.l-hero__list ul {
  display: grid;
  grid-template-columns: 165px 1fr;
  gap: 21px 32px;
}
.l-hero__list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #343434;
  display: block;
  position: relative;
  z-index: 2;
}
.l-hero__list li span {
  font-weight: 700;
  z-index: 3;
}
.l-hero__list li::after {
  content: "";
  position: absolute;
  left: -6px;
  height: 40px;
  width: 10px;
  background-color: #ffd600;
  top: -2px;
  z-index: -1;
}

.l-hero--img {
  position: relative;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.l-hero--img img {
  position: relative;
  z-index: 2;
}

.l-sun-bg {
  background-image: url(./assets/img/sun.svg);
  width: 640px;
  height: 640px;
  position: absolute;
  z-index: 1;
}

/* l-hero-section end ======================*/

/*==== l-profit-section start ======================*/

.l-profit__section {
  margin-top: -110px;
  padding-bottom: 100px;
  padding-top: 183px;
  /* background-image: url(./assets/img/bg-profit.png); */
  height: 910px;
  overflow: hidden;
}

.l-profit__section-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  max-width: 1536px;
  margin: 0 auto;
}

.l-profit__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.l-profit__title {
  max-width: 978px;
  padding: 0 29px;
}

.l-profit__content {
  padding-top: 40px;
}

.l-profit__text {
  align-self: flex-end;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  text-align: right;
  text-transform: uppercase;
  color: #343434;
}

.l-profit__text span {
  background: #ffffff;
  font-weight: 700;
  padding: 0 29px;
}
.l-profit__text p {
  background: #ffffff;
  padding: 0 29px;
}

.l-profit__list {
  padding-left: 30px;
}

.l-profit__list-item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}
.l-profit__list-item:last-child {
  margin-bottom: unset;
}

.l-profit__list-item .l-item__text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.l-profit__list-item .l-item__text span:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}
.l-profit__list-item .l-item__text span:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #343434;
}

/* l-profit-section end ======================*/

/* l-train section start */

.l-train__section::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
  background-color: white;
  transform: skew(0, 2deg);
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.l-train__section .l-wrapper::after {
  content: "";
  position: absolute;
  bottom: -49px;
  left: 0;
  width: 100%;
  height: 52px;
  background: url("data:image/svg+xml,%3Csvg width='1536' height='50' viewBox='0 0 1536 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1536L309.5 49.5L0 0Z' fill='white'/%3E%3C/svg%3E%0A")
    no-repeat center/contain;
}

.l-train__section::after {
  content: "";
  width: 100%;
  position: absolute;
  top: -52px;
  left: 0;
  background-image: url(./assets/img/line-bg-yellow-2.svg);
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.l-train__section .l-wrapper {
  z-index: 10;
  position: relative;
}

.l-train__title .bg-yellow::before {
  background-color: #ffad00;
}

.l-train {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 60px;
  padding: 123px 0 184px 0;
}
.l-train__list {
  padding-top: 40px;
  padding-bottom: 60px;
}
.l-train__list ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.l-train__list ul li {
  background: url("data:image/svg+xml,%3Csvg width='157' height='157' viewBox='0 0 157 157' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157 0H112.2L101 11.2V56H145.8L157 44.8V0Z' fill='%23FFD600'/%3E%3Cpath d='M56 101H11.2L0 112.2V157H44.8L56 145.8V101Z' fill='%23FFAD00'/%3E%3Cpath d='M150 7H35.6L6.99997 35.6V150H121.4L150 121.4V7Z' fill='url(%23paint0_linear_219_3)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_219_3' x1='1.02582' y1='7.00032' x2='155.125' y2='8.24203' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD600'/%3E%3Cstop offset='1' stop-color='%23FFAD00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
    no-repeat center/contain;
  width: 157px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-train__list li span {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #343434;
}
.l-train__list li span:first-child {
  font-weight: 700;
}

.l-train__text * {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}

.l-train__text span:first-child,
.l-train__text span:last-child {
  font-weight: 700;
}
/* l-train section end */

/* l-whatis section start */

.l-whatis__section {
  padding: 160px 0;
}

.l-whatis__section::after {
  content: "";
  position: absolute;
  background: url(./assets/img/back-whatis.png) no-repeat center/contain;
  top: -6px;
  left: 0;
  width: 100%;
  height: 1012px;
  z-index: -1;
}

.l-whatis__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 60px;
}
.l-whatis__list {
  padding-left: unset;
  margin-top: 40px;
}
.l-whatis__list ul {
  display: grid;
  grid-template-columns: 205px 256px;
  gap: 40px;
}
.l-whatis__list .l-profit__list-item {
  flex-direction: column;
  align-items: flex-start;
}
.l-whatis__left-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}

/* l-whatis section end */
