@font-face {
  font-family: "Ruberoid-c";
  src: url(./assets/fonts/Ruberoid-ExtraBold.woff2) format("woff2"),
    url(./assets/fonts/Ruberoid-ExtraBold.woff) format("woff"),
    url(./assets/fonts/Ruberoid-ExtraBold.ttf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Ruberoid-c";
  src: url(./assets/fonts/Ruberoid-Medium.woff2) format("woff2"),
    url(./assets/fonts/Ruberoid-Medium.woff) format("woff"),
    url(./assets/fonts/Ruberoid-Medium.ttf) format("opentype");
  font-weight: 400;
}


@import url(./assets/css/normalize.css);

.c-pbottom-100 {
  padding-bottom: 1000px;
  background-color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Ruberoid-c", sans-serif;
  min-width: 320px;
  height: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

main {
  overflow-x: hidden;
}

.l-wrapper {
  max-width: 1536px;
  padding: 0 149px;
  margin: 0 auto;
}
/* components start */
.c-clip-path {
  clip-path: polygon(0 1%, 100% 0%, 97% 100%, 0% 100%);
}

.c-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
  color: #343434;
}
.c-gradient-text {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.c-bg-gradient {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
}

.l-section {
  position: relative;
}

.c-matrix {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 5px;
}
.c-matrix i {
  z-index: 1;
}
.c-matrix::before {
  content: "";
  position: absolute;
  background: #ffad00;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 77%, 77% 100%, 0 100%);
  top: -5px;
  right: -5px;
}
.c-matrix::after {
  content: "";
  position: absolute;
  background: #fafafa;
  width: 101%;
  height: 101%;
  clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 77%, 77% 100%, 0 100%);
  top: 0;
  right: 0;
}

.c-text-primary {
  color: #343434;
}

.bg-yellow {
  background-color: #ffd600;
  white-space: nowrap;
  position: relative;
}
.bg-yellow::after {
  content: "";
  position: absolute;
  right: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffd600;
}
.bg-yellow::before {
  content: "";
  position: absolute;
  left: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffad00;
}

.bg-white {
  background-color: #ffffff;
  white-space: nowrap;
  position: relative;
}
.bg-white::after {
  content: "";
  position: absolute;
  right: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffffff;
}
.bg-white::before {
  content: "";
  position: absolute;
  left: -28px;
  height: 100%;
  width: 29px;
  top: 0;
  background-color: #ffffff;
}

.c-text-30--bold {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}

.c-text-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #343434;
}

/* components end */

/* l-hero-section start */

.l-hero__section {
  height: 914px;
  /* background-image: url("./assets/img/back.svg"); */
  /* background-position: 50%; */
  /* background-repeat: no-repeat; */
  padding-top: 85px;
  position: relative;
}
.l-hero__section .l-wrapper {
  position: relative;
  z-index: 10;
}

.l-hero__section::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./assets/img/back-new.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  z-index: 1;
  pointer-events: none;
}
.l-hero__section::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./assets/img/line-yellow.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  z-index: 12;
  pointer-events: none;
}

.l-hero__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.l-hero__right .c-logo {
  padding-left: 29px;
}

.l-hero__title {
  margin-bottom: 23px;
  margin-top: 62px;
  will-change: transform;
}

.l-hero__title h1 {
  position: relative;
  padding: 0 29px;
}
.l-hero__title h1 span {
  position: relative;
  left: -26px;
  padding: 0 29px;
  display: inline-block;
  white-space: nowrap;

  width: 102%;
}

.l-sun-bg {
  background-image: url(./assets/img/sun.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.l-hero__button {
  position: relative;
  overflow: hidden;
}

.l-hero__button a .c-gradient-text {
  pointer-events: none;
}

.l-hero__button a {
  display: block;
  padding: 22px 75px 22px 75px;
  background: #343434;
  border-radius: 60.5px;
  max-width: 380px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */

  text-align: center;
  text-transform: uppercase;
  margin-left: 29px;
  position: relative;
  overflow: hidden;
  /* z-index: 100; */
}

.l-hero__button a:hover {
  background: #545454;
}

/* animate ripple */
.animate-ripple {
  webkit-animation: ripple 4s linear infinite;
  -moz-animation: ripple 4s linear infinite;
  -ms-animation: ripple 4s linear infinite;
  -o-animation: ripple 4s linear infinite;
  animation: ripple 4s linear infinite;
}
@keyframes ripple {
  20% {
    opacity: 0;
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.anim-btn {
  pointer-events: none;
  height: 200px;
  width: 290px;
  top: -20px;
  left: -140px;
  animation: ripple 4s linear infinite;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  z-index: 10;
}

.l-hero__list {
  margin-top: 50px;
  margin-left: 29px;
}

.l-hero__list ul {
  display: grid;
  grid-template-columns: 165px 1fr;
  gap: 21px 32px;
}
.l-hero__list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #343434;
  display: block;
  position: relative;
  z-index: 2;
}
.l-hero__list li span {
  font-weight: 700;
  z-index: 3;
}
.l-hero__list li::after {
  content: "";
  position: absolute;
  left: -6px;
  height: 40px;
  width: 10px;
  background-color: #ffd600;
  top: -2px;
  z-index: -1;
}

.l-hero--img {
  position: relative;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

.l-hero--img img {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.l-sun-bg {
  background-image: url(./assets/img/sun.svg);
  width: 640px;
  height: 640px;
  position: absolute;
  z-index: 1;
}

/* l-hero-section end ======================*/

/*==== l-profit-section start ======================*/

.l-profit__section {
  margin-top: -140px;
  padding-bottom: 170px;
  padding-top: 200px;
  /* height: 910px; */
  overflow: hidden;
}

.l-profit__section-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  /* max-width: 1536px; */
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.l-profit__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.l-profit__title {
  max-width: 978px;
  padding: 0 29px;
}

.l-profit__mobile-title {
  display: none;
}

.l-profit__title .bg-yellow::before {
  background-color: #ffd600;
}

.l-profit__content {
  padding-top: 40px;
}

.l-profit__text {
  align-self: flex-end;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: right;
  text-transform: uppercase;
  color: #343434;
}

.l-profit__text span {
  background: #ffffff;
  font-weight: 700;
  padding: 0 29px;
}
.l-profit__text p {
  background: #ffffff;
  padding: 0 29px;
}

.l-profit__list {
  padding-left: 30px;
}

.l-profit__list-item {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}
.l-profit__list-item:last-child {
  margin-bottom: unset;
}

.l-profit__list-item .l-item__text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.l-profit__list-item .l-item__text span:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}
.l-profit__list-item .l-item__text span:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #343434;
}

/* l-profit-section end ======================*/

/* l-train section start */
.l-train--img {
  display: flex;
  justify-content: center;
  max-width: 300px;
}
.l-train--img img {
  width: 100%;
}
.l-train__section::before {
  content: "";
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
  background-color: white;
  transform: skew(0, 2deg);
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.l-train__section .l-wrapper::after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 100%;
  height: 52px;
  background: url("data:image/svg+xml,%3Csvg width='1536' height='50' viewBox='0 0 1536 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1536L309.5 49.5L0 0Z' fill='white'/%3E%3C/svg%3E%0A")
    no-repeat;
  background-position: 8% 102%;
}

.l-train__section::after {
  content: "";
  width: 100%;
  position: absolute;
  top: -52px;
  left: 0;
  background-image: url(./assets/img/line-bg-yellow-2.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  z-index: 2;
}
.l-train__section .l-wrapper {
  z-index: 10;
  position: relative;
}

.l-train__title .bg-yellow::before {
  background-color: #ffad00;
}

.l-train {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 123px 0 184px 0;
}
.l-train__list {
  padding-top: 40px;
  padding-bottom: 60px;
}
.l-train__list ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.l-train__list ul li {
  background: url("data:image/svg+xml,%3Csvg width='157' height='157' viewBox='0 0 157 157' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M157 0H112.2L101 11.2V56H145.8L157 44.8V0Z' fill='%23FFD600'/%3E%3Cpath d='M56 101H11.2L0 112.2V157H44.8L56 145.8V101Z' fill='%23FFAD00'/%3E%3Cpath d='M150 7H35.6L6.99997 35.6V150H121.4L150 121.4V7Z' fill='url(%23paint0_linear_219_3)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_219_3' x1='1.02582' y1='7.00032' x2='155.125' y2='8.24203' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD600'/%3E%3Cstop offset='1' stop-color='%23FFAD00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
    no-repeat center/contain;
  width: 157px;
  height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.l-train__list li span {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #343434;
}

.l-train__list li span:last-child {
  font-size: 20px;
}

.l-train__text * {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-transform: inherit;
  color: #343434;
}

.l-train__text span:first-child,
.l-train__text span:last-child {
  font-weight: 700;
}
/* l-train section end */

/* l-whatis section start */

.l-whatis__section {
  padding: 160px 0;
  /* height: 1012px; */
}

.l-whatis__section::after {
  content: "";
  position: absolute;
  background: url(./assets/img/back-yell.svg) no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  z-index: -2;
}
.l-whatis__section::before {
  content: "";
  position: absolute;
  background: url(./assets/img/back-kids.png) no-repeat;
  top: 0;
  right: 0;
  width: 58%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
  clip-path: polygon(25% 0%, 100% 0%, 100% 96.5%, 0% 100%);
}

.l-whatis__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 60px;
}
.l-whatis__list {
  padding-left: unset;
  margin-top: 40px;
}
.l-whatis__list ul {
  display: grid;
  grid-template-columns: 205px 256px;
  gap: 40px;
}
.l-whatis__list .l-profit__list-item {
  flex-direction: column;
  align-items: flex-start;
}
.l-whatis__left-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}

/* l-whatis section end */

/* l-history section start */

.l-history__section {
  padding: 160px 0 80px 0;
}

.l-history {
  display: grid;
  grid-template-columns: 1fr 225px;
  gap: 20px;
}
.l-history__title {
  max-height: 550px;
  position: sticky;
  top: 30px;
}
.l-history__map {
  margin-top: 40px;
}

.l-history__timeline li {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.l-history__timeline li:last-child {
  padding-bottom: unset;
}
.l-history__timeline li:last-child::after {
  display: none;
}

.l-history__timeline li::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 8px;
  width: 22px;
  height: 22px;
  background: #ffe455;
  border: 3px solid #ffad00;
  border-radius: 50%;
  z-index: 10;
}
.l-history__timeline li::after {
  content: "";
  position: absolute;
  height: 100%;
  left: -27px;
  width: 3px;
  top: 20px;
  z-index: 1;
  background-color: #ffd600;
}

/* l-history section end */

/* l-kids section start */

.l-kids__section {
  padding: 160px 0 80px 0;
  /* background: white; */
}
.l-kids__section .c-title {
  text-align: center;
}

.l-kids__content {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  margin-top: 40px;
  margin-bottom: 50px;
}

.js-swiper__content .swiper-slide {
  overflow: hidden;
  max-width: 314px;
  height: 450px;
  margin-right: 5px;
}
.js-swiper__content .swiper-slide img {
  width: 100%;
  height: 100%;
}

.l-kids__text {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
.l-kids__text span {
  font-weight: 700;
}

.l-kids__video {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.l-kids__video a {
  display: flex;
  align-items: center;
  gap: 20px;
  background: transparent;
  border: unset;
  cursor: pointer;
}
.l-kids__video a .l-kids__video-bg {
  border-radius: 20px 0;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 150px;
}

.l-kids__video a .l-kids__video-bg svg {
  transition: all 0.4s linear;
}

.l-kids__video a:first-child .l-kids__video-bg {
  background: url(./assets/img/video1.png);
}

.l-kids__video a:last-child .l-kids__video-bg {
  background: url(./assets/img/video2.png);
}

.l-kids__video a .l-kids__video-bg:hover svg {
  transform: scale(1.1);
}

.l-kids__video a .l-kids__video-bg::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -5px;
  width: 50px;
  height: 50px;
  border-left: 5px solid #ffad00;
  border-bottom: 5px solid #ffad00;
  z-index: -1;
}

.l-kids__video a .l-kids__video-bg::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -5px;
  width: 50px;
  height: 50px;
  border-right: 5px solid #ffad00;
  border-top: 5px solid #ffad00;
  z-index: -1;
}

.l-kids__video span {
  font-weight: 700;
  font-family: "Ruberoid-c", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
  text-align: start;
}
/* l-kids section end  */

.l-info__section {
  background-image: url("data:image/svg+xml,%3Csvg width='1536' height='800' viewBox='0 0 1536 800' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L463.5 125.5L743.5 8.5L1536 46.5V759L1152 800L351.5 759L0 800V0Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;

  padding: 160px 0 80px 0;
}
.l-info__section .l-train {
  padding: 0;
}

/* l-category__section start */

.l-category__section {
  padding: 160px 0 100px 0;
}
.l-category__section .c-title {
  text-align: center;
}

.l-category__content {
  padding: 80px 0 0 0;
}
.l-info__img {
  max-width: 479px;
}

.l-category__items ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.l-category__items ul li {
  height: 505px;
  width: 100%;
  max-width: 380px;
  display: flex;
  align-items: flex-end;
  padding: 41px 30px 20px;
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  clip-path: polygon(29% 0, 100% 0, 100% 74%, 69% 100%, 0 100%, 0 24%);
  position: relative;
}

.l-category__items ul li::before {
  content: "";
  top: 4px;
  left: -4px;

  position: absolute;
  width: 100%;
  height: 363px;
}

.l-category__items ul li:nth-child(1)::before {
  background: url(./assets/img/category1.png) no-repeat;
  background-size: cover;
  background-position-x: 50%;
}
.l-category__items ul li:nth-child(2)::before {
  background: url(./assets/img/category2.png) no-repeat;
  background-size: cover;
  background-position-x: 50%;
}
.l-category__items ul li:nth-child(3)::before {
  background: url(./assets/img/category3.png) no-repeat;
  background-size: cover;
  background-position-x: 50%;
}

.l-category__items ul .l-title {
  font-size: 60px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;
}

.l-category__items li p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  gap: 5px;
}

.l-category__items .l-white {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #ffffff;
}
.l-category__items .l-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #343434;
}
.l-category__items .l-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  vertical-align: text-top;
  height: 90px;
}

.l-category__link {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.l-category__link .ripple-btn {
  overflow: visible;
}

.l-category__link a {
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  border-radius: 60.5px;
  padding: 22px 80px 18px 80px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #343434;
  position: relative;
  max-width: 380px;
  transition: all 0.4s linear;
}

.l-category__link a:hover {
  transform: scale(1.01);
}

.l-category__link a::before {
  content: "";
  position: absolute;
  height: 20px;
  left: -111%;
  width: 400px;
  top: 44%;
  background-image: url("data:image/svg+xml,%3Csvg width='398' height='18' viewBox='0 0 398 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M397.66 9.00003L389 0.339779L380.34 9.00003L389 17.6603L397.66 9.00003ZM0.339746 9L9 17.6603L17.6603 9L9 0.339746L0.339746 9ZM389 7.50003L9 7.5L9 10.5L389 10.5L389 7.50003Z' fill='%23FFD600'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.l-category__link a::after {
  content: "";
  position: absolute;
  height: 20px;
  right: -111%;
  width: 400px;
  top: 44%;
  background-image: url("data:image/svg+xml,%3Csvg width='398' height='18' viewBox='0 0 398 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M397.66 9.00003L389 0.339779L380.34 9.00003L389 17.6603L397.66 9.00003ZM0.339746 9L9 17.6603L17.6603 9L9 0.339746L0.339746 9ZM389 7.50003L9 7.5L9 10.5L389 10.5L389 7.50003Z' fill='%23FFD600'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

/* l-category__section end */

.l-gallery__text span {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #343434;
  text-align: center;
}
.l-gallery__text {
  text-align: center;
  padding: 7px 0 5px 0;
}

/* l-calc-_section start */

.l-calc__section {
  padding: 110px 0 80px;
}
.l-calc__section .c-title {
  text-align: center;
}

.l-text__border-top {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #343434;
  position: relative;
}
.l-text__border-top::before {
  content: "";
  position: absolute;
  left: 0;
  top: -25px;
  width: 50px;
  height: 50px;
  border-top: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
}
.l-text__border-top::after {
  content: "";
  position: absolute;
  right: 0;
  top: -25px;
  width: 50px;
  height: 50px;
  border-top: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
}

.l-calc__content {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 490px;
  gap: 20px;
  justify-content: space-between;
}

.l-calc__content-left {
  max-width: 580px;
  margin: 0 auto;
}

.l-calc__list {
  margin-top: 40px;
  overflow: hidden;
}
.l-calc__list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transform: scale(1.009);
}
.l-calc__list ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  padding: 10px;
  width: 200px;
  border: 1px solid #f1f1f1;
  text-align: center;
}

.l-calc__list ul .l-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  margin: 34px 0;
}

.l-calc__list ul li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #343434;
}
.l-calc__text-bold {
  text-align: center;
}

.l-calc__text-bold span {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #343434;
}

.l-calc__calc {
  background: #f6f6f6;
  border-radius: 40px 0px;
  padding: 60px 40px;
  position: relative;
  margin-top: 24px;
}
.l-calc__calc::before {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -5px;
  border-left: 5px solid #ffad00;
  border-bottom: 5px solid #ffad00;
  width: 100px;
  height: 100px;
}
.l-calc__calc::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -5px;
  border-right: 5px solid #ffad00;
  border-top: 5px solid #ffad00;
  width: 100px;
  height: 100px;
}

.l-calc__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #343434;
}

.l-calc__top-list li {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.l-calc__top-list li:last-child {
  margin-bottom: 50px;
}

.l-range__input {
  width: 100%;
}

.l-range__line {
  width: 100%;
  -webkit-appearance: none;
  position: relative;
  height: 2px;
}

.l-range__line:focus {
  outline: none;
}

.l-range__line::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;

  border-radius: 0px;
  /* border: 0px solid #010101; */
  /* color: #010101; */
  transition: box-shadow 0.2s ease-in-out;
}
.l-range__line::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #ffad00;
  border-radius: 0px;
  border: 0px solid #010101;
}

.l-range__line::-webkit-slider-thumb {
  box-shadow: none;
  border: 3px solid #343434;
  border-radius: 50%;
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  cursor: pointer;
  overflow: visible;
  position: relative;
  z-index: 10000;
  /* box-shadow: -340px 0 0 320px ; */

  -webkit-appearance: none;
  margin-top: -10px;
  transition: box-shadow 0.2s ease-in-out;
}

#price::before {
  font-family: "Ruberoid-c";
  content: "3200";
  position: absolute;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #343434;
  top: 10px;
}
#price::after {
  font-family: "Ruberoid-c";
  content: "7000";
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #343434;
  top: 10px;
}

#days::before {
  content: "60";
  position: absolute;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #343434;
  top: 10px;
}
#days::after {
  content: "220";
  position: absolute;
  right: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  color: #343434;
  top: 10px;
}

.bullet-number {
  position: relative;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
  color: #343434;
  left: -10px;
}

.l-summ {
  align-self: end;
  font-size: 20px;
  line-height: 130%;

  text-align: center;
  color: #343434;
}
.l-summ .l-sum__item {
  font-weight: 700;
}

.l-calc__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #343434;
  padding-bottom: 20px;
}

.l-calc__button {
  font-family: "Ruberoid-c", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  border-radius: 60.5px;
  padding: 30px 104px;
  border: unset;
  margin: 0 auto;
  cursor: pointer;

  position: relative;
  z-index: 11;
}
/* l-calc-_section end */

/* l-faces section start */

.l-faces__section {
  padding: 80px 0 30px 0;
}
.l-faces__title {
  text-align: center;
}
.l-faces__content {
  padding: 60px 0 0 0;
  display: grid;
  grid-template-columns: 377px 1fr;
  gap: 20px;
}

.l-faces--img figcaption h5 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;
  width: 100%;
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  margin-bottom: 5px;
}
.l-faces--img figcaption {
  text-align: center;
}
.l-faces--img figcaption span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #343434;
}
.l-faces--img figure {
  display: flex;
  flex-direction: column;
}
.l-faces--img figure img {
  margin: 0 auto;
  max-width: 339px;
  width: 100%;
}

.l-faces__text .l-border {
  position: relative;
  padding: 40px;
  /* border: 2px solid #ffad00; */
}
.l-faces__text .l-border p {
  padding: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #343434;
  border: 2px solid #ffad00;
}
.l-faces__text .l-border p .bold {
  font-weight: 700;
}
.l-faces__text .l-border::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 53.25V43.9C13 33.8133 14.8133 26.5033 18.44 21.97C22.0667 17.3233 27.9033 15 35.95 15V22.31C31.4167 22.31 28.13 23.8967 26.09 27.07C24.05 30.2433 23.03 35.23 23.03 42.03C27.45 42.03 30.6233 42.8233 32.55 44.41C34.4767 45.9967 35.44 48.9433 35.44 53.25C35.44 57.2167 34.5333 60.1067 32.72 61.92C31.02 63.62 28.1867 64.47 24.22 64.47C20.3667 64.47 17.5333 63.62 15.72 61.92C13.9067 60.1067 13 57.2167 13 53.25ZM43.94 53.25V43.9C43.94 33.8133 45.7533 26.5033 49.38 21.97C53.12 17.3233 59.0133 15 67.06 15V22.31C62.5267 22.31 59.1833 23.8967 57.03 27.07C54.99 30.2433 53.97 35.23 53.97 42.03C58.39 42.03 61.5633 42.8233 63.49 44.41C65.53 45.9967 66.55 48.9433 66.55 53.25C66.55 57.2167 65.6433 60.1067 63.83 61.92C62.13 63.62 59.2967 64.47 55.33 64.47C47.7367 64.47 43.94 60.73 43.94 53.25Z' fill='url(%23paint0_linear_31_260)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_31_260' x1='69.3185' y1='15.0001' x2='11.0633' y2='15.5131' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD600'/%3E%3Cstop offset='1' stop-color='%23FFAD00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
    no-repeat center;
  width: 104px;
  height: 104px;
  display: block;
  background-color: white;
}
.l-faces__text .l-border::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 53.25V43.9C13 33.8133 14.8133 26.5033 18.44 21.97C22.0667 17.3233 27.9033 15 35.95 15V22.31C31.4167 22.31 28.13 23.8967 26.09 27.07C24.05 30.2433 23.03 35.23 23.03 42.03C27.45 42.03 30.6233 42.8233 32.55 44.41C34.4767 45.9967 35.44 48.9433 35.44 53.25C35.44 57.2167 34.5333 60.1067 32.72 61.92C31.02 63.62 28.1867 64.47 24.22 64.47C20.3667 64.47 17.5333 63.62 15.72 61.92C13.9067 60.1067 13 57.2167 13 53.25ZM43.94 53.25V43.9C43.94 33.8133 45.7533 26.5033 49.38 21.97C53.12 17.3233 59.0133 15 67.06 15V22.31C62.5267 22.31 59.1833 23.8967 57.03 27.07C54.99 30.2433 53.97 35.23 53.97 42.03C58.39 42.03 61.5633 42.8233 63.49 44.41C65.53 45.9967 66.55 48.9433 66.55 53.25C66.55 57.2167 65.6433 60.1067 63.83 61.92C62.13 63.62 59.2967 64.47 55.33 64.47C47.7367 64.47 43.94 60.73 43.94 53.25Z' fill='url(%23paint0_linear_31_260)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_31_260' x1='69.3185' y1='15.0001' x2='11.0633' y2='15.5131' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFD600'/%3E%3Cstop offset='1' stop-color='%23FFAD00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
    no-repeat center;
  width: 104px;
  height: 104px;
  display: block;
  transform: rotate(180deg);
  background-color: white;
}

.l-faces__text .l-last {
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  text-align: center;
  color: #343434;
  padding: 0 0 0 40px;
}
/* l-faces section end */

/* l-phone__section start */
.l-phone__section {
  padding: 123px 0;
  /* bottom: -50px; */
}

.l-phone__section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url("data:image/svg+xml,%3Csvg width='1536' height='800' viewBox='0 0 1536 800' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L363.5 32.5L1120.5 8.5L1536 46.5V759L1152 800L350.5 784L0 800V0Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 11;
}
.l-phone__section .l-wrapper {
  position: relative;
  z-index: 15;
}

.l-phone__content {
  display: grid;
  grid-template-columns: 1fr 340px;
  justify-content: space-between;
  gap: 30px;
  padding-right: 60px;
}

.l-phone__title {
  margin-bottom: 40px;
}

.l-phone__text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #343434;
  margin-bottom: 60px;
  max-width: 580px;
}
.l-phone__text p .bold {
  font-weight: 700;
}
.l-phone__text .last {
  display: block;
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 26px;
  color: #343434;
  width: fit-content;
}

.l-phone__bg {
  position: absolute;
  width: 340px;
  height: 549px;
  background: url(./assets/img/iphone.png) no-repeat;
  background-size: contain;
  /* z-index: 10; */
}
.l-phone__right {
  height: 549px;
  position: relative;
}
.l-phone__swiper {
  height: 100%;
}
.l-phone__swiper .swiper-wrapper {
  margin-left: 50px;
}
.l-phone__swiper .swiper-slide {
  width: 233px;
  max-height: 506px;
  /* overflow: hidden; */
}

.l-phone__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  max-width: 233px;
  max-height: 493px;
  /* overflow: hidden;  */
  border-radius: 30px;
  position: relative;
  top: 11px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -20px !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #b4b4b4 Im !important;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  background: linear-gradient(
    269.54deg,
    #ffd600 -4.14%,
    #ffad00 102.76%
  ) !important;
}

/* l-phone__section end */

/* footer start */

.l-footer__section {
  position: relative;
  overflow: hidden;
  margin-top: -50px;
}
.l-footer__bg {
  /* background: url(./assets/img/footer-bg.png) no-repeat; */
  position: absolute;
  /* background-size: 100% 100%; */
  /* background-position: center; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 1012px; */
  object-fit: cover;
  z-index: -1;
}

.l-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.l-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 180px 0 194px 0; */
}
.l-footer__title {
  text-align: center;
  margin-bottom: 40px;
}
.l-footer__title h5 {
  color: white;
}
.l-footer__title h5 span {
  color: #343434;
}

.l-footer__text {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}
.l-footer__text span {
  color: #ffd600;
  font-weight: 700;
}
.l-footer__btn a {
  font-family: "Ruberoid-c", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 20px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  border-radius: 60.5px;
}
/* footer end */

.ripple-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.4s linear;
}

span.ripple-span {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;

  border-radius: 50%;
  background-color: white;

  pointer-events: none;
  opacity: 0.5;
  animation: ripple-btn 0.5s linear;
  z-index: 1000;
  pointer-events: none;
}

@keyframes ripple-btn {
  to {
    width: 15rem;
    height: 15rem;
    opacity: 0;
  }
}

/* media quaries */
@media screen and (min-width: 1600px) {
  .l-whatis__section::before {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .swiper-free-mode>.swiper-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 1500px) {
  .l-wrapper {
    padding: 0 80px;
  }
  .l-hero--img {
    margin-left: unset;
  }
  .l-sun-bg {
    max-width: 640px;
    width: 100%;
  }
  .l-hero__section::after {
    background-image: url(./assets/img/pattern.svg);
    background-size: cover;
  }
  .l-info__section {
    background-size: cover;
  }
}

@media screen and (max-width: 1350px) {
  .l-hero__section {
    height: 836px;
  }
  .l-hero--img img {
    width: 445px;
  }
  .l-hero__title h1 {
    padding: unset;
  }
  .l-train {
    gap: 30px;
  }
  .l-whatis__section::before {
    width: 54%;
  }
  .l-kids__section h3 {
    display: none;
  }
  .l-kids__section .l-profit__mobile-title {
    display: block;
    position: relative;
  }

  .l-kids__section .l-profit__mobile-title::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 30%;
    height: 40%;
    background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  }

  .l-kids__video a {
    flex-direction: column;
  }
  .l-info__content .l-train--img {
    padding-right: 40px;
  }
  .l-category__link a::before,
  .l-category__link a::after {
    display: none;
  }
}
/* 1350px */

@media (max-width: 1250px) {
  .l-calc__content {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .l-calc__content-left {
    max-width: 100%;
  }
  .l-calc__list ul li {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .l-wrapper {
    padding: 0 50px;
  }
  .l-hero__section {
    height: 100%;
    padding-bottom: 134px;
  }

  .l-hero__block {
    grid-template-columns: 1fr;
  }
  .l-hero__title h1 {
    text-align: center;
  }
  .l-hero__title h1 span {
    left: unset;
    clip-path: unset;
    width: 100%;
  }
  .l-hero__right .c-logo {
    display: flex;
    justify-content: center;
    padding-left: unset;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .l-hero__left {
    order: -1;
  }
  .l-hero__block {
    padding-top: 130px;
  }
  .l-hero__title {
    margin-top: -35px;
    position: relative;
    z-index: 100;
  }
  .l-hero__button a {
    margin: 0 auto;
  }
  .l-profit__section {
    margin-top: -70px;
    padding-top: 130px;
  }
  .l-hero__list ul {
    grid-template-columns: 1fr 1fr;
  }
  .l-hero__list {
    display: flex;
    justify-content: center;
  }

  .l-profit__title h2 {
    display: none;
  }
  .l-profit__mobile-title h2.c-title {
    display: block;
  }
  .l-profit__mobile-title {
    display: block;
    text-align: center;
    position: relative;
  }
  .l-profit__mobile-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 127px;
    background-color: #ffd600;
    z-index: -1;
  }

  .l-profit__text {
    font-size: 28px;
  }

  .l-train {
    grid-template-columns: 1fr;
  }
  .l-train--img {
    order: 2;
    justify-content: flex-start;
    /* padding-left: 30px; */
  }
  .l-train__title {
    text-align: center;
  }
  .l-train__list ul {
    justify-content: center;
    gap: 10px;
  }
  .l-train__text {
    position: absolute;
    right: 4%;
    bottom: 45%;
    max-width: 50%;
  }
  .l-whatis__section::before {
    clip-path: polygon(25% 0%, 100% 0%, 100% 97.5%, 0% 100%);
  }
  .l-whatis__left-text {
    text-align: center;
  }

  .l-history__title {
    padding-right: 30px;
  }
  .l-history__map img {
    width: 100%;
  }
  .l-history__title h3 {
    display: none;
  }

  .l-history__title .l-profit__mobile-title::before {
    background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  }

  .l-info__section .l-train--img {
    padding-right: 0;
    order: -1;
  }
  .l-info__section .l-train {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .l-category__items ul {
    grid-template-columns: 1fr;
  }
  .l-category__items ul li {
    place-self: center;
    max-width: 500px;
  }
  .l-category__title h3 span {
    background: transparent;
    white-space: inherit;
  }
  .l-category__title h3 span::before,
  .l-category__title h3 span::after {
    display: none;
  }
  .l-category__title h3 {
    position: relative;
  }
  .l-category__title h3:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    top: 0;
    height: 64%;
    background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
  }
  .l-phone__content {
    padding-right: 0;
  }
}
/* 1200px */

@media screen and (max-width: 1090px) {
  .l-whatis__title {
    text-align: center;
  }
  .l-whatis__section::before {
    clip-path: unset;
    height: 50%;
    width: 100%;
    bottom: 40px;
    top: unset;
    z-index: -3;
    clip-path: polygon(0 0, 100% 0%, 100% 96%, 0% 100%);
  }
  .l-whatis__section::after {
    height: 54%;
    background-position: bottom;
  }

  .l-whatis__content {
    flex-direction: column;
  }

  .l-whatis__list ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .l-whatis__section {
    padding: 100px 0;
  }
  .l-faces__text .l-border p {
    padding: 20px 14px;
    font-size: 16px;
  }
  .l-faces__text .l-border::before,
  .l-faces__text .l-border::after {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .l-faces__text .l-border {
    padding: 20px;
  }
  .l-faces__content {
    grid-template-columns: 0.7fr 1fr;
  }
  .l-phone__content {
    grid-template-columns: 100%;
    text-align: center;
  }
  .l-phone__text p {
    max-width: 100%;
  }
  .l-phone__bg {
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .l-phone__swiper .swiper-wrapper {
    margin-left: 0;
  }
  .l-phone__section::before {
    height: 100%;

    background-position: 16%;
    padding-bottom: 30px;
  }
  .l-phone__text .last {
    position: absolute;
    bottom: -65px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .l-phone__swiper .swiper-slide img {
    left: -2px;
  }
}
/* 1090px */

@media screen and (max-width: 900px) {
  .l-train__title h2 {
    font-size: 40px;
  }
  .l-profit__list-item .l-item__text span:last-child {
    font-size: 14px;
  }
  .l-profit__list-item .l-item__text span:first-child {
    font-size: 16px;
  }

  .l-history__title h2 {
    font-size: 40px;
  }

  .l-history__title .l-profit__mobile-title::before {
    height: 102px;
  }
}
/* 900px */

@media screen and (max-width: 768px) {
  .l-profit__mobile-title::before {
    height: 100px;
  }
  .l-hero__section {
    padding-top: 50px;
    padding-bottom: 170px;
  }
  .l-hero__section::before {
    background-size: inherit;
    background-position: 10% 100%;
  }
  .c-title {
    font-size: 40px;
    line-height: 50px;
  }
  .l-wrapper {
    padding: 0 20px;
  }
  .l-profit__title {
    padding: 0;
  }
  .l-profit__content {
    flex-direction: column;
  }
  .l-profit__section {
    background: url(./assets/img/bg-profit.png) no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: 100%;
  }
  .l-profit__section-bg {
    display: none;
  }
  .l-train__section::before {
    top: -36px;
  }
  .l-train__list li span {
    font-size: 28px;
  }
  .l-train__list ul li {
    width: 120px;
    height: 120px;
  }
  .l-whatis__list ul {
    gap: 10px;
  }
  .l-whatis__list .l-profit__list-item {
    align-items: center;
  }
  .l-profit__list-item .l-item__text {
    text-align: center;
  }
  .l-whatis__content {
    gap: 55px;
  }

  .l-history__map {
    margin-top: 10px;
  }
  .l-history {
    grid-template-columns: 1fr;
  }
  .l-history__timeline {
    padding-left: 100px;
  }
  .l-history__title .l-profit__mobile-title::before {
    height: 51px;
  }

  .l-category__link {
    padding-top: 50px;
  }

  .l-faces__content {
    grid-template-columns: 1fr;
  }
  .l-faces--img {
    max-width: 50%;
  }
  .l-faces__text {
    position: relative;
  }
  .l-faces__text .l-last {
    position: absolute;
    top: -40%;
    right: 0;
    max-width: 50%;
    text-align: left;
  }
}

/* 768px */

@media screen and (max-width: 670px) {
  .l-train__title h2 {
    font-size: 28px;
  }
  .l-train--img {
    max-width: 200px;
  }
  .l-train--img img {
    width: 100%;
  }
  .l-train__text {
    bottom: 180px;
  }
  .l-kids__video {
    flex-direction: column;
  }
  .l-kids__video span {
    text-align: center;
  }

  .l-info__section .l-train--img {
    width: 100%;
    max-width: 100%;
  }
}
/* 670px */

@media screen and (max-width: 560px) {
  .l-hero--img img {
    width: 100%;
  }
  .l-hero__title h1 {
    font-size: 28px;
  }
  .c-title {
    font-size: 28px;
    line-height: 40px;
  }
  .l-profit__mobile-title::before {
    height: 72px;
  }

  .l-profit__list {
    padding-left: 0;
  }
  .l-profit__text {
    font-size: 20px;
    line-height: 130%;
  }
  .l-train__section::before {
    top: -43px;
  }
  .l-profit__section {
    padding-bottom: 100px;
    margin-top: -65px;
  }
  .l-train__list ul li {
    width: 90px;
    height: 90px;
  }

  .l-train__text * {
    font-size: 14px;
  }
  .l-train__text {
    bottom: 110px;
  }
  .l-train--img {
    max-width: 178px;
  }
  .l-train__list {
    padding-bottom: 40px;
  }
  .l-train__list ul {
    gap: 5px;
  }
  .l-train {
    padding: 70px 0 109px 0;
  }

  .l-whatis__list {
    margin-top: 20px;
  }

  .l-whatis__list ul {
    grid-template-columns: 1fr 1fr;
  }

  .l-whatis__content {
    padding-top: 30px;
  }

  .l-whatis__section::after {
    height: 60%;
  }
  .l-whatis__section::before {
    bottom: 0;
  }
  .l-whatis__list .l-profit__list-item {
    gap: 10px;
    margin-bottom: 0;
  }

  .l-whatis__content-right img {
    width: 300px;
  }
  .l-whatis__left-text {
    font-size: 16px;
  }

  .l-history__title h2 {
    font-size: 28px;
  }
  .l-history__title .l-profit__mobile-title::before {
    height: 36px;
  }

  .l-kids__content {
    background: unset;
  }

  .js-swiper__content .swiper-slide {
    border-left: 5px solid #ffd600;
    margin-right: 20px;
  }

  .l-kids__text,
  .l-gallery__text {
    background: linear-gradient(269.54deg, #ffd600 -4.14%, #ffad00 102.76%);
    margin: 20px;
  }

  .l-history__timeline {
    padding-left: 35px;
  }
  .l-category__section {
    padding: 50px 0 25px 0;
  }
  .l-category__content {
    padding-top: 40px;
  }
  .l-category__items ul .l-title {
    font-size: 40px;
  }

  .l-faces__text .l-border {
    padding: 20px;
  }

  .l-faces__text .l-last {
    top: -35%;
    text-align: start;
    padding-left: 20px;
  }
  .l-phone__section {
    padding: 95px 0;
  }
}

/* 560px */

@media screen and (max-width: 450px) {
  .l-train__title h2 {
    font-size: 25px;
  }
  .l-history__section {
    padding: 70px 0 20px 0;
  }
  .l-info__section {
    background-position: 50% 100%;
    padding: 0px 0 80px 0;
  }
  .l-calc__list ul li i {
    width: 39px;
    height: 39px;
  }

  .l-text__border-top {
    font-size: 16px;
  }

  .l-calc__list ul li span {
    font-size: 10px;
  }

  .l-calc__button {
    padding: 17px 38px;
  }
  .l-calc__section {
    padding: 20px 0 35px 0;
  }
  .l-faces__section {
    padding: 35px 0;
  }
}

/* 450px */

@media screen and (max-width: 425px) {
  .l-category__items .l-text,
  .l-category__items .l-white {
    font-size: 14px;
  }
  .l-train__list li span {
    font-size: 20px;
  }
  .c-title {
    font-size: 25px;
    line-height: 32px;
  }
  .l-hero__title h1 {
    font-size: 25px;
  }
  .l-sun-bg {
    height: 100%;
  }
  .c-logo {
    width: 200px;
    margin: 0 auto;
  }
  .c-logo img {
    width: 100%;
  }
  .l-hero__block {
    padding-top: 100px;
  }
  .l-hero--img img {
    height: 300px;
    width: 220px;
  }

  .l-hero__button a {
    font-size: 14px;
    padding: 17px 37px;
  }
  .l-hero__list {
    margin-left: 5px;
  }
  .l-hero__list ul {
    gap: 10px;
  }
  .l-hero__section::before {
    background-position: 15% 100%;
  }
  .l-hero__section {
    padding-bottom: 120px;
  }

  .l-profit__list ul {
    padding: 0 20px;
  }
  .l-profit__list-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
  }
  .l-profit__list-item .l-item__text span:first-child {
    font-size: 16px;
  }
  .l-profit__list-item .l-item__text span:last-child {
    font-size: 14px;
  }
  .l-profit__text p {
    text-transform: initial;
    padding: 0;
  }
  .l-profit__content {
    padding-top: 60px;
  }
  .l-profit__text span {
    padding: 0;
  }

  .l-train__list ul li {
    width: 85px;
    height: 85px;
  }

  .l-train__title h2 {
    font-size: 20px;
  }

  .l-train__text span:first-child {
    background: transparent;
    white-space: unset;
  }
  .l-train__text span:first-child::after,
  .l-train__text span:first-child::before {
    display: none;
  }

  .l-train--img {
    max-width: 155px;
  }
  .l-train__text {
    max-width: 47%;
    bottom: 60px;
  }
  .l-train__text * {
    text-transform: initial;
  }

  .l-train {
    padding: 70px 0 60px 0;
  }
  .l-whatis__list .l-profit__list-item {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: flex-start;
  }
  .l-profit__list-item .l-item__text {
    text-align: start;
  }

  .l-whatis__section::after {
    clip-path: polygon(0 0, 100% 0%, 100% 97%, 0 89%);
  }

  .l-whatis__content {
    gap: 100px;
  }

  .l-whatis__list ul {
    padding: 0;
  }
  .l-profit__mobile-title h2.c-title {
    font-size: 25px;
  }

  .l-history__title {
    padding-right: 0;
  }

  .l-kids__text span {
    font-size: 14px;
  }
  .l-kids__text {
    padding: 2px;
  }
  .l-category__items ul li {
    padding: 20px 20px 14px 20px;
    max-width: 300px;
    max-height: 340px;
  }
  .l-category__items ul li::before {
    height: 235px;
  }
  .l-category__items .l-block {
    height: 72px;
  }
  .l-category__link a {
    font-size: 14px;
    padding: 17px 45px;
  }
  .l-calc__text-bold span {
    font-size: 14px;
  }
  .l-calc__calc {
    padding: 60px 20px;
  }
  .l-calc__top-list li:last-child {
    margin-bottom: 40px;
  }
  .l-summ {
    text-align: center;
    margin: 0 auto;
  }
  .l-calc__list ul .l-flex {
    margin: 15px 0;
  }
  .l-faces--img figcaption h5 {
    font-size: 16px;
  }
  .l-faces--img figcaption span,
  .l-faces__text .l-last {
    font-size: 14px;
  }
  .l-faces__text .l-last {
    top: -25%;
  }
  .l-faces__content {
    padding-top: 40px;
  }
  .l-phone__text p,
  .l-phone__text .last {
    font-size: 16px;
  }
  .l-phone__text p {
    margin-bottom: 0;
  }
  .l-footer__text {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .bg-yellow::before {
    left: -15px;
    width: 16px;
  }
  .bg-yellow::after {
    width: 16px;
    right: -15px;
  }
}
/* 425px */

@media screen and (max-width: 385px) {
  .l-train__list {
    padding-bottom: 0;
    padding-top: 20px;
  }
  .l-train__list ul li {
    width: 60px;
  }
  .l-train__list li span {
    font-size: 16px;
  }
}

@media screen and (max-width: 365px) {
  .l-hero__title h1 {
    font-size: 20px;
  }
  .c-title {
    font-size: 20px;
    line-height: 26px;
  }
  .l-profit__mobile-title::before {
    height: 49px;
  }
  .l-profit__list ul {
    padding: 0;
  }
  .l-wrapper {
    padding: 0 15px;
  }
  .l-train--img {
    max-width: 125px;
  }
  .l-train__title h2 {
    font-size: 18px;
  }
  .l-history__timeline li .c-text-30--bold {
    font-size: 20px;
  }
  .l-calc__list ul {
    grid-template-columns: 1fr 1fr;
  }
}
